<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha creado una nueva reseña!</h1>
    <p>Gracias por ser parte de nuestra comunidad!</p>
  </body>
</html>

Se ha creado una nueva reseña!
===============================================


Gracias por ser parte de nuestra comunidad!
