

<%= form_with model:[@movie, Comment.new] do |f| %>
    <div class="comment-text-container">
    <div>
        <%= f.text_area :content, placeholder:"Deja tu comentario", class:"comment-text" %> 
    </div>

    <div>
        <%= f.submit "Enviar", class:"btn btn-primary m-2" %>
    </div>
    </div>
<%end%>    
