    <div>
        <div class="card-body card flex-sm-col align-items-center align-items-sm-start">
            <h4 class="card-title">
                <%= link_to movie.title, movie, class:'text-link' %>
            </h4>
            <p>Donde ver: <%= movie.platform %></p> 
            <% if movie.cover.present? %>
              <%= image_tag url_for(movie.cover), class:'movie-cover' %>
            <% end %>
            <%= link_to "Ver Detalles", movie , class:'btn btn-primary m-2' %>
        </div>
    </div>
