<section>
<div class="movies-text">
    <h1 >Catalogo de Peliculas</h1>
</div>
<%= link_to 'Nueva Reseña', "movies/new", class:'btn btn-primary button-review' %>
<div >
<div class="d-flex flex-row justify-center align-items-center flex-wrap">
    <%= render partial:'movie', collection:@movies %>
    </div>
</div>
</section>
